    <style>
        body {
            background-color: rgb(156, 142, 142);
            margin: 0px;
        }

        header {
            background-color: rgb(22, 119, 151);
            color: white;
            text-align: center;
            padding: 20px;
        }

        nav {
            background-color: rgb(91, 91, 214);
            padding: 20px;
            text-align: center;
        }

        nav a {
            color: white;
            text-decoration: none;
            margin-left: 10px;
            background-color: rgb(57, 155, 57);
            padding: 10px;
        }

        nav a:hover {
            text-decoration: underline;
            color: aqua;
        }

        section {
            background-color: white;
            margin: 20px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 2px 2px 2px grey;
        }

        #gallery {
            padding: 20px;
            text-align: center;
        }

        .gallery-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
            margin-top: 20px;
        }

        .gallery-container img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
        }

        .gallery-container img:hover {
            transform: scale(1.05);
        }

        footer {
            background-color: blue;
            color: white;
            padding: 20px;
            text-align: center;
        }
    </style>
